<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/addUser/addUser.css">
</head>

<body>
    <div class="container p-4">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <div class="form-group">
                            <lable>Terms and Conditions</lable><br>
                            <input type="tex" class="form-control" name="name" value="Ice-cloude" readonly>
                        </div>
                        <label class="terms-conditions">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias facere nobis quod dicta
                            inventore debitis vitae, iusto magnam eum? Aspernatur, necessitatibus officiis corporis enim
                            unde in asperiores at eaque cupiditate ea sunt quidem quo eius, ad vitae quae quis velit
                            libero molestiae tempore inventore, laborum nisi? Facilis quia cum, sapiente hic fugit eos
                            debitis odit amet, nam neque dolores est voluptate nostrum voluptatum unde provident nihil
                            quis libero molestias, at ipsum. Velit accusamus consectetur delectus assumenda enim fugit
                            distinctio impedit! Fugiat perferendis sed neque laudantium esse natus! Aliquid, officia
                            ducimus! Delectus illum ipsam pariatur at earum, eveniet molestiae illo voluptate?
                            <br><br>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias facere nobis quod dicta
                            inventore debitis vitae, iusto magnam eum? Aspernatur, necessitatibus officiis corporis enim
                            unde in asperiores at eaque cupiditate ea sunt quidem quo eius, ad vitae quae quis velit
                            libero molestiae tempore inventore, laborum nisi? Facilis quia cum, sapiente hic fugit eos
                            debitis odit amet, nam neque dolores est voluptate nostrum voluptatum unde provident nihil
                            quis libero molestias, at ipsum. Velit accusamus consectetur delectus assumenda enim fugit
                            distinctio impedit! Fugiat perferendis sed neque laudantium esse natus! Aliquid, officia
                            ducimus! Delectus illum ipsam pariatur at earum, eveniet molestiae illo voluptate?
                            <br><br>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias facere nobis quod dicta
                            inventore debitis vitae, iusto magnam eum? Aspernatur, necessitatibus officiis corporis enim
                            unde in asperiores at eaque cupiditate ea sunt quidem quo eius, ad vitae quae quis velit     

                            <br><br>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias facere nobis quod dicta
                            inventore debitis vitae, iusto magnam eum? Aspernatur, necessitatibus officiis corporis enim
                            unde in asperiores at eaque cupiditate ea sunt quidem quo eius, ad vitae quae quis velit    

                            <br><br>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias facere nobis quod dicta
                            inventore debitis vitae, iusto magnam eum? Aspernatur, necessitatibus officiis corporis enim
                            unde in asperiores at eaque cupiditate ea sunt quidem quo eius, ad vitae quae quis velit    
                            <br><br>
                            <a  href="singup"><button class="btn btn-success btn-block">Login</button></a>  
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>