<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/home.css">
    
</head>
<body>
    <div class="container p-4">
        <div class="row">

            <div class="col-md-3">
                <div class="card text-center">
                    <img src="https://brandemia.org/contenido/subidas/2022/10/marca-mcdonalds-logo-1200x670.png">
                </div>
            </div>

            <div class="col-md-3">
                <div class="card text-center">
                    <img src="https://1000marcas.net/wp-content/uploads/2020/01/KFC-logotipo.jpg">
                </div>
            </div>

            <div class="col-md-3">
                <div class="card text-center">
                    <img src="https://cdn.dribbble.com/users/5096096/screenshots/13977405/ht.png">
                </div>
            </div>

            <div class="col-md-3">
                <div class="card text-center">
                    <img src="https://cdn.mos.cms.futurecdn.net/3ghyHDzz2nL7vMVYD7tsaE.jpeg">
                </div>
            </div>

        </div>
    </div>
</body>
</html>