/**/
:root{
    --color-company:rgb(204,3,40); /*rgb(57,78,194);*/
    --color-hover:rgb(170, 1, 32);/*rgb(46, 62, 151);*/
    --color-body:rgb(246,245,248);

    --color-session1:rgb(204,3,40);/* rgb(57,78,194);*/
    --color-session2:rgb(170, 1, 32);/* rgb(97, 53, 253);*/

    --color-confirmation: rgb(25, 135, 84);
    --color-confirmation-hover: rgb(19, 104, 64);
    --color-cancel:rgb(220, 53, 69);
    --color-cancel-hover:rgb(187, 44, 58);
}

/*styles messages*/
.btn-confirm-message{
    background: var(--color-confirmation);
    color: white;
}

.btn-confirm-message:hover{
    background: var(--color-confirmation-hover);
    color: white;
}

.btn-cancel-message{
    background: var(--color-cancel);
    color: white;
}

.btn-cancel-message:hover{
    background: var(--color-cancel-hover);
    color: white;
}

.popup-message{
    border-radius: 1rem;
}


/*global styles*/
.btn-success{
    background-color: var(--color-company);
    width: 100%;
}

.btn-success:hover{
    background-color: var(--color-hover);
}

.form-group{
    padding: 8px;
}

lable{
    font-size: 13px;
    color: rgba(0,0,0,.5);
    padding: 2px;
}

body{
    background-color: var(--color-body);
}