<section class="descriptionWindow">
    <head class="headDescription">
        <div class="navbar">
            <ul class="titleDesciption">
                <span class="des">Empresas</span>
            </ul>
        </div>
    </head>
</section>  